<h1>{{ currentShelf()?.name }}</h1>
<div class="shelf">
  @for (item of currentShelfItems(); track item.id) {
    <button type="button" (click)="selectItem(item.id)">
      <section [id]="`${item.name}-${item.id}`" class="item">
        @if (item.picture !== '') {
          <img [src]="item.picture" [alt]="`Image of Item ${item.name}`" />
        } @else {
          <img />
        }
        <h2>{{ item.name }}</h2>
      </section>
    </button>
  }
  <button type="button" (click)="showAddItem()">
    <section [id]="`new-item`" class="item add-item">
      <!--TODO: Add plus icon here. -->
    </section>
  </button>
</div>
@if (sidebarMode() === 'item') {
  <app-item-view (closed)="closeSidebar()" />
} @else if (sidebarMode() === 'new-item') {
  <app-add-item (closed)="closeSidebar()" />
}
