<nav>
  <div class="grid grid-cols-2 grid-rows-none">
    @if (apiStatus() === API_STATUS_TYPE.SUCCESS) {
      <button type="button" class="logoutButton authButton" (click)="logOut()">Logout</button>
    } @else {
      <button type="button" class="loginButton authButton" routerLink="/login">Login</button>
    }

    <h1>
      <i>Archive<br />Wizzard</i>
    </h1>
  </div>

  <ul>
    @if (apiStatus() === API_STATUS_TYPE.SUCCESS) {
      @for (shelf of shelfList(); track shelf.id) {
        <li class="button">
          <a (click)="setCurrentShelf(shelf.id)">{{ shelf.name }}</a>
        </li>
      }
      <li>
        <a
          class="button"
          (click)="
            addShelf({
              name: 'Spellbooks',
              position: 1,
              categoryGroupId: 1,
            })
          "
          >+</a
        >
      </li>
    }
  </ul>
</nav>
