<nav>
  @if (apiStatus() === API_STATUS_TYPE.SUCCESS) {
    <button type="button" class="logoutButton authButton">Logout</button>
  } @else {
    <button type="button" class="loginButton authButton" routerLink="/login">Login</button>
  }

  <ul>
    @if (apiStatus() === API_STATUS_TYPE.SUCCESS) {
      @for (shelf of shelfList(); track shelf.id) {
        <li class="button">
          <a (click)="setCurrentShelf(shelf.id)">{{ shelf.name }}</a>
        </li>
      }
      <li>
        <a class="button" (click)="addShelf({ categoryGroupId: 1, name: 'NewShelf', position: 1 })"
          >+</a
        >
      </li>
    }
  </ul>
</nav>
